@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

:root {
  /* colors */
  --color-white: hsl(0, 100%, 100%);
  --color-grey: hsl(0, 0%, 58%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-blue-800: hsl(234, 29%, 20%);
  --color-red: hsl(4, 100%, 67%);
  --color-red-100: hsl(6, 72%, 94%);
  --color-red-gradient: linear-gradient(
    to right,
    hsl(15, 100%, 61%),
    hsl(346, 100%, 66%)
  );
  /* typography */
  --font-family-base: 'Roboto', sans-serif;
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --font-size-base: 16px;
  --line-height-base: 1.5;
  /* border radius */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 2.25rem;
  /* spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
}

html {
  box-sizing: border-box;
  background-color: var(--color-blue-700);
  color: var(--color-blue-800);
  font: var(--font-weight-base) var(--font-size-base) / var(--line-height-base)
    var(--font-family-base);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: inherit;
}

ul {
  list-style: none;
}

.form-card,
.success-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: 0 1rem 3.75rem rgba(0, 0, 0, 0.25);
}

.success-card {
  align-items: flex-start;
  padding: 9.375rem var(--spacing-300) 4.375rem;
  gap: var(--spacing-400);
  min-height: inherit;
}

.form-image {
  display: block;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: var(--spacing-200);
  border-bottom-right-radius: var(--spacing-200);

  &.tablet,
  &.desktop {
    display: none;
  }
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  padding: var(--spacing-500) var(--spacing-300) 2.75rem;
}

.form-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.form-title,
.success-title {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: var(--font-weight-bold);
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);

  & li {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-200);
  }
}

.email-label-container {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
}

.email-error {
  color: var(--color-red);
}

.email-input {
  margin-top: 0.375rem;
  width: 100%;
  border: 1px solid var(--color-grey);
  border-radius: var(--radius-sm);
  padding: var(--spacing-200) var(--spacing-300);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-blue-800);

  &::placeholder {
    color: var(--color-grey);
  }

  &.error {
    color: var(--color-red);
    border-color: var(--color-red);
    background-color: var(--color-red-100);
  }
  &.error::placeholder {
    color: var(--color-red);
  }
}

.submit-btn,
.dismiss-btn {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-300);
  width: 100%;
  border: none;
  border-radius: var(--radius-sm);
  padding: var(--spacing-200) var(--spacing-600);
  background-color: var(--color-blue-800);
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  line-height: 1.5rem;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background: var(--color-red-gradient);
    box-shadow: 0 1rem 2rem 0 rgba(255, 97, 85, 0.5);
  }
}

.dismiss-btn {
  margin-top: auto;
}

@media (min-width: 48rem) {
  .form-card {
    padding: var(--spacing-500);
    border-radius: var(--radius-lg);
  }

  .form-image {
    border-radius: var(--radius-md);

    &.mobile {
      display: none;
    }
    &.tablet {
      display: block;
    }
  }

  .form-content {
    gap: var(--spacing-300);
    margin-top: var(--spacing-500);
    padding: 0;
  }

  .form-title,
  .success-title {
    font-size: 3.5rem;
  }

  .submit-btn {
    margin-top: var(--spacing-200);
  }

  .success-card {
    min-height: auto;
    max-width: 31.5rem;
    max-height: 32.5rem;
    border-radius: var(--radius-lg);
    padding: 3.75rem var(--spacing-800);
  }
}

@media (min-width: 90rem) {
  .form-card {
    flex-direction: row-reverse;
    gap: var(--spacing-800);
    padding: var(--spacing-300) var(--spacing-400);
    border-radius: var(--radius-lg);
  }

  .form-image {
    max-height: 100%;
    width: 25rem;

    &.tablet {
      display: none;
    }
    &.desktop {
      display: block;
    }
  }

  .form-content {
    max-width: 23.5rem;
    margin-block: var(--spacing-900);
  }

  .form-text {
    gap: var(--spacing-400);
  }

  .submit-btn {
    margin-top: var(--spacing-300);
  }
}

.hidden {
  display: none;
}
